@import '../../../scss/variables';

.sidebar {
  width: 100vw;
  min-height: 100vh;
  transition: all;
  background-color: white;
  padding-top: 40px;
  z-index: 20;
  position: fixed;
}

@media screen and (width >= $tablet) {
  .sidebar {
    width: 240px;
    position: relative;
  }
}
@media screen and (width >= $desktop) {
  .sidebar {
    width: 320px;
    position: relative;
  }
}
